VITE_SUPABASE_URL=https://zuqaccivowbzdfrpgekz.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_ADMIN_API_URL=https://zuqaccivowbzdfrpgekz.supabase.co/functions/v1/admin-api
VITE_ADMIN_HOSTNAME=admin.aflyo.com.br
